@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:wght@500&display=swap");

:root {
  --primary: #12b9e0;
  --light-primary: #b8edfc;
  --secondary: #dfe6e6;
  --success: #51ff49;
  --warning: #faff49;
  --danger: #ff4949;
  --light: #f9f8f8;
  --dark: #e6e1e1;
  --darker: #636060;
  --font-heading: "Raleway", sans-serif;
  --font-body: "Oxygen", sans-serif;
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
