@import "./core.css";

* {
  font-family: var(--font-body);
}

body {
  background-color: var(--secondary);
}

.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5rem;
  margin-left: 35vw;
  background-color: white;
  border: 1px solid var(--darker);
  width: 40vw;

  padding: 2rem;
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: lighter;
}

.wrapper {
  width: 100vh;
  display: flex;
  flex-direction: row;
}

/* --------------------------SIDEBAR LEFT */

.drawer-wrapper {
  display: flex;
  height: 100vh;
  width: 25rem;
  min-width: 15vw;
  flex-direction: column;
  background-color: white;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;

  /* this is the magic */
  overflow: auto;
}
.drawer-headingArea {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0rem;
  background-color: white;
  padding: 1rem;
  width: 100%;
}

.drawer-heading {
  font-size: 3rem;
  font-weight: bold;
  padding-right: 1rem;
}

.drawer-subHeading {
  font-size: 1.5rem;
  color: var(--darker);
}

.drawer-section {
  margin-top: 1rem;
}

.drawer-link {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: 200ms;
}

.drawer-link:hover {
  background-color: var(--light-primary);
}
.link-icon {
  /* display: inline-flex; */
  align-items: center;
}

.drawer-linkText {
  font-size: 1.5rem;
  padding: 0 0 0 2rem;
}

.drawer-link-1 {
  display: none;
}

/*--------------------------- Drawer Ends---------------------------- */

/* stataic,relative,absolute, fixed,sticky. */
