i {
  font-size: 4rem !important;
  color: white;
}

.header-wrapper {
  width: 100vw;
}

.container-header {
  background-color: var(--primary);
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
}

.header-left-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-menu {
  display: inline-flex;
  align-items: center;
}

.header-logo {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  color: white;
}

.header-right-icons {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  justify-content: space-between;
  align-items: center;
}

.icon-right,
.icon-left {
  margin: 0 1rem;
}

/*  ---------------------*/
.main-content {
  padding: 3rem;
  font-size: 3rem;
  overflow: auto;
  margin-top: 5rem;
}
